### https://raw.github.com/github/gitignore/86e01548dd97d6a1b5fc9ad303f10111b17ce0a9/Go.gitignore

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

##############
hello
packages
imports
exported-names
functions
functions-continues
multiple-results
named-results
variables
variables-with-initializers
short-variable-declarations
basic-types
zero
type-conversions
type-interface
constants
numeric-constants
for
for-continued
for-is-gos-while
if
if-with-short-statement
exercize-loops-and-functions
switch
switch-evalation-order
switch-with-new-condition
defer
defer-multi
pointer
structs
struct-fields
struct-literals
array
slices
slices-pointers
slice-literals
slice-defaults
slice-len-cap
nil-slices
making-slices
slices-of-slice
append
range
range-continued
exercise-slices
maps
map-literals
map-literals-continued
mutating-maps
exercise-maps
function-values
function-closures
exercise-fibonacci-closure
methods
methods-funcs
methods-continued
methods-pointers
methods-pointers-explained
indirection
indirection-values
methods-with-pointer-receiver
interfaces
interfaces-are-satisfied-implicitly
interface-values
interface-values-with-nil
nil-interface-values
